<IfModule mod_rewrite.c>
    # Activar rewrite
    RewriteEngine on

    Options -Indexes

    ErrorDocument 403 http://localhost/error403
    ErrorDocument 404 http://localhost/error404


    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*) index.php?routing=$1
</IfModule>